:root {
    --bgPosX: 0px;
    --fgPosX: 0px;
    --color1: #703e1d;
    --color2: #e2943a;
    --percentage: 0;
    --progressImg: calc(5px + (-10vw * var(--percentage)));
    --jmpHg: 0px;
    --frogJmpHg: -10px;
}

* {
    justify-items: center;
    text-align: center;
    margin: 0;
}

body {
    transition: background-position 0.2s;
    margin: 0;
    overflow: hidden;
    background-image: url(assets/tree.webp);
    bottom: 0px;
    background-repeat: repeat-x;
    background-size: 50% 55vh;
    background-position: var(--bgPosX) 0;
}

img {
    width: 15vw;
}

h2 {
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
}

p{font-size: 1vw;}
progress {
    direction: rtl;
}

.textDisplay {
    border: var(--color2) 5px solid;
    background-color: var(--color1);
    padding: 10px;
    color: white;
}

.distanceLeft {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 10vw;
    img {
        width: 0.5vw;
        transform: translateX(var(--progressImg));
    }

    progress {
        width: 100%;
    }
}

.frogBtn {
    cursor: pointer;
    transition: transform 0.05s;
    grid-area: frog;
    position: absolute;
    bottom: 40vh;
    margin: 0;
}

.frogBtn:hover {
    transform: translateY(10px) scaleX(110%) scaleY(90%);
}

.frogBtn:active {
    transform: translateY(var(--frogJmpHg)) scaleX(90%);
}

.upgradeMenu {
    position: absolute;
    border-image: url(assets/menu.webp) 230 240 240 230 fill / 48px 32px 48px 32px;
    padding: 48px 32px;
    box-sizing: border-box;
    z-index: 1;
    height: 80vh;
    width: 20vw;
    right: 0;
    bottom: 0;
    min-width: 300px;
}

.upgradesList {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    scrollbar-color: #e2943a #703e1d;

    button {
        transition: transform 0.2s;
        color:white;
        background-clip: border-box;
        z-index: 0;
        margin: 10px 0;
        flex-shrink: 0;
        height: 30%;
        max-height: 200px;
        min-height: 30;
        width: 90%;
        background-color: var(--color1);
        border: var(--color2) solid 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        div{
            display: flex;
            flex-direction: column;
            img{
                width: 2vw;
            }
             .flavorText{
                color: lightgray;
                font-size: 0.75vw;
             }
        }
    }
    button:hover{
        transform: translatey(-10px);
        filter: hue-rotate(-20deg);
    }


}


.ground {
    transition: background-position 0.1s;
    position: absolute;
    top: 50vh;
    left: 0;
    z-index: -1;
    height: 50vh;
    width: 120vw;
    background-image: url(assets/chao.webp);
    background-size: 256px 100%;
    background-position: var(--fgPosX) 0
}



@keyframes numJmp {
    50% {
        transform: translateX(10px);
    }
}

.coinsDisplay {

    position: absolute;
    top: 0px;
    right: 0px;
    width: 20vw;
    display: flex;
    background-color: var(--color1);
    color: rgb(30, 255, 0);
    box-sizing: border-box;
    padding: 48px 32px;
    border-image: url(assets/menu.webp) 230 240 240 230 fill / 48px 48px 48px 48px;
    border-radius: 10px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vh;
    z-index: 100;

    .valor {
        transition: all 0.2s;
        transform: translateY(calc(var(--jmpHg)*-1));
    }

}

.coinsDisplay h2 {
    display: inline;
    font-size: 1.2rem;
    margin: 0;
}
/* Efeitos de animação */
.glow {
    animation: glow 0.2s;
}

@keyframes glow {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(2.5)
                drop-shadow(0 0 10px #fff799)
                drop-shadow(0 0 20px #ffd700);
    }

    100% {
        filter: brightness(1);
    }
}